@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or your main CSS file */
body {
    @apply bg-gray-900 text-white;
  }
  
  header, nav {
    @apply bg-gray-800;
  }
  
  a {
    @apply text-white no-underline;
  }
  
  a:hover {
    @apply underline;
  }
  
  nav {
    transition: width 0.3s;
  }
  /* Add this in your main CSS file (e.g., App.css) */
.sidebar {
    transition: width 0.3s;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 16 !important; /* Ensure it collapses on small screens */
    }
  }
  